<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempenho do vídeo mais recente</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/mostRecentVideoPerform.css">
    <link rel="stylesheet" href="../styles/components/fontStyles.css">
    <script>var exports = {};</script>
    <script defer type="module" src="../ref/mostRecentVideoPerform.js"></script>
</head>
<body>
    <section class="mRecentVideoPerform">
        <div class="mRecentVideoPerform--container">
            <h2 class="mRecentVideoPerform--container--title text text-large textColor-primary">Desempenho do vídeo mais recente</h2>
            <div class="mRecentVideoPerform--container--videoImage">
                <img class="mRecentVideoPerform--container--videoImage--img" src="../assets/theLastOfUsPart1-thumbVideo5.png" alt="video image">
                <div class="mRecentVideoPerform--container--videoImage--videoNamecontainer">
                    <p class="mRecentVideoPerform--container--videoImage--videoNamecontainer--videoName text text-medium textColor-primary-bold" id="mRecentVideoPerform--videoName">
                    The Last Of Us Part 1 Remake #5 - Gameplay no PC | Áudio e Legenda em Português Pt-Br
                    </p>
                </div>
            </div>
            <div class="mRecentVideoPerform--container--metrics">
                <div class="mRecentVideoPerform--container--metrics--wrapper">
                    <div class="mRecentVideoPerform--container--metrics--wrapper--metric">
                        <div class="mRecentVideoPerform--container--metrics--wrapper--metric--iconContainer">
                            <svg viewBox="0 0 24 24" class="mRecentVideoPerform--container--metrics--metric--iconContainer--icon" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M16,14v3h-1v-3H16z M11,7v10h1V7H11z M7,10v7h1v-7H7z"  fill="#aaa"></path></g></svg>
                        </div>
                        <span class="mRecentVideoPerform--container--metrics--wrapper--metric--data text text-small textColor-terciary">9</span>
                    </div>
                    <div class="mRecentVideoPerform--container--metrics--wrapper--metric">
                        <div class="mRecentVideoPerform--container--metrics--wrapper--metric--iconContainer"><svg viewBox="0 0 24 24" class="mRecentVideoPerform--container--metrics--metric--iconContainer--icon"  preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon"><path d="M8 7H16V9H8V7ZM8 13H13V11H8V13ZM5 3V16H15H15.41L15.7 16.29L19 19.59V3H5ZM4 2H20V22L15 17H4V2Z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                        </div>
                        <span class="mRecentVideoPerform--container--metrics--wrapper--metric--data text text-small textColor-terciary">0</span>
                    </div>
                    <div class="mRecentVideoPerform--container--metrics--wrapper--metric">
                        <div class="mRecentVideoPerform--container--metrics--wrapper--metric--iconContainer"><svg viewBox="0 0 24 24" class="mRecentVideoPerform--container--metrics--metric--iconContainer--icon" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11H3v10h4h1h9.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z M7,20H4v-8h3V20z M19.98,13.17l-1.34,6 C18.54,19.65,18.03,20,17.43,20H8v-8.61l5.6-6.06C13.79,5.12,14.08,5,14.38,5c0.26,0,0.5,0.11,0.63,0.3 c0.07,0.1,0.15,0.26,0.09,0.47l-1.52,4.94L13.18,12h1.35h4.23c0.41,0,0.8,0.17,1.03,0.46C19.92,12.61,20.05,12.86,19.98,13.17z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                        </div>
                        <span class="mRecentVideoPerform--container--metrics--wrapper--metric--data text text-small textColor-terciary">0</span>
                    </div>
                </div>
                <div class="mRecentVideoPerform--container--metrics--arrow">
                    <span class="mRecentVideoPerform--container--metrics--arrow-collapseArrow">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon"><path d="M17.6504 15.77L12.0004 10.12L6.35039 15.77L5.65039 15.06L12.0004 8.70996L18.3504 15.06L17.6504 15.77Z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                    </span>
                    <span class="mRecentVideoPerform--container--metrics--arrow-expandArrow hide">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon"><path d="M18.3504 8.93998L12.0004 15.29L5.65039 8.93998L6.36039 8.22998L12.0004 13.88L17.6504 8.22998L18.3504 8.93998Z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                    </span>
                </div>
            </div>
            <div class="mRecentVideoPerform--container--dataWrapper">
                <p class="mRecentVideoPerform--container--dataWrapper--currentDaysCount text text-small textColor-terciary">Primeiros 46 dias 1 hora</p>
                <ul class="mRecentVideoPerform--container--dataWrapper--dataList">
                    <li class="mRecentVideoPerform--container--dataWrapper--dataList--data">
                        <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--title text text-small textColor-primary">Classificação por visualizações</p>
                        <div class="mRecentVideoPerform--container--dataWrapper--dataList--data--value first">
                            <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--amount text text-small textColor-primary">6 de 10</p>
                            <span class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g mirror-in-rtl="" class="style-scope tp-yt-iron-icon"><path d="M9.4,18.4l-0.7-0.7l5.6-5.6L8.6,6.4l0.7-0.7l6.4,6.4L9.4,18.4z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                            </span>
                        </div>
                    </li>
                    <li class="mRecentVideoPerform--container--dataWrapper--dataList--data">
                        <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--title text text-small textColor-primary">Visualizações</p>
                        <div class="mRecentVideoPerform--container--dataWrapper--dataList--data--value">
                            <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--amount text text-small textColor-primary">9</p>
                            <span class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--icon"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M9.8,17.3l-4.2-4.1L7,11.8l2.8,2.7L17,7.4l1.4,1.4L9.8,17.3z M12,3c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3 M12,2 c5.5,0,10,4.5,10,10s-4.5,10-10,10S2,17.5,2,12S6.5,2,12,2L12,2z" class="style-scope tp-yt-iron-icon" fill="green"></path></g></svg>
                            </span>
                        </div>
                    </li>
                    <li class="mRecentVideoPerform--container--dataWrapper--dataList--data">
                        <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--title text text-small textColor-primary">Taxa de cliques de impressões</p>
                        <div class="mRecentVideoPerform--container--dataWrapper--dataList--data--value">
                            <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--amount text text-small textColor-primary">1,7%</p>
                            <span class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M9.8,17.3l-4.2-4.1L7,11.8l2.8,2.7L17,7.4l1.4,1.4L9.8,17.3z M12,3c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3 M12,2 c5.5,0,10,4.5,10,10s-4.5,10-10,10S2,17.5,2,12S6.5,2,12,2L12,2z" class="style-scope tp-yt-iron-icon" fill="green"></path></g></svg>
                            </span>
                        </div>
                    </li>
                    <li class="mRecentVideoPerform--container--dataWrapper--dataList--data">
                        <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--title text text-small textColor-primary">Duração média da visualização</p>
                        <div class="mRecentVideoPerform--container--dataWrapper--dataList--data--value">
                            <p class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--amount text text-small textColor-primary">0:26</p>
                            <span class="mRecentVideoPerform--container--dataWrapper--dataList--data--value--icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="style-scope tp-yt-iron-icon"><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,18.41l-4.71-4.71l1.41-1.41L11,14.59V6h2v8.59
                                    l2.29-2.29l1.41,1.41L12,18.41z" class="style-scope tp-yt-iron-icon" fill="#aaa"></path></g></svg>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <nav class="mRecentVideoPerform--container--menu">
                <a href="#" class="mRecentVideoPerform--container--menu--link">
                    <p class="mRecentVideoPerform--container--menu--link--text text text-small textColor-primary first text textColor-secondary-bold text-uppercase">
                        ver as estatísticas do vídeo
                    </p>
                </a>
                <a href="#" class="mRecentVideoPerform--container--menu--link">
                    <p class="mRecentVideoPerform--container--menu--link--text text text-small textColor-primary text textColor-secondary-bold text-uppercase">
                        ver comentários (0)
                    </p>
                </a>
            </nav>
        </div>
    </section>
</body> 
</html>