:root {
    /* mainBox */
    --components--mainbox-backgroundColor: #282828;
    --components--mainBox-maxWidth: 392px;
    --components--mainBox-borderRadius: 4px;
    --components--mainBox-borderColor: #aaa;
    /* innerContainer */
    --components--innerContainer-padding: 24px;
    /* innerContainerTitle */
    --components--innerContainer--title-margin: 0px;
    --components--innerContainer--title-paddingBottom: 14px;
}