:root{
    --text-color-primary: #fff;
    --text-color-secodary: #3ea6ff;
    --text-color-terciary: #aaa;
    --text-fontWeightModifier: bold;
    --text-fontFamily: "Roboto","Noto",sans-serif;
}

/* family and weight */
.text{
    font-family: var(--text-fontFamily);
}
.text-bold{
    font-family: var(--text-fontFamily);
    font-weight: var(--text-fontWeightModifier);
}

/* size */
.text-small{
    font-size: 13px;
}

.text-medium{
    font-size: 14px;
}

.text-large{
    font-size: 18px;
}

/* color and weight */
.textColor-primary{
    color: var(--text-color-primary);
}

.textColor-primary-bold{
    color: var(--text-color-primary);
    font-weight: var(--text-fontWeightModifier);
}

.textColor-secondary{
    color: var(--text-color-secodary);
}

.textColor-secondary-bold{
    color: var(--text-color-secodary);
    font-weight: var(--text-fontWeightModifier);
}

.textColor-terciary{
    color: var(--text-color-terciary);
}
.textColor-terciary-bold{
    color: var(--text-color-terciary);
    font-weight: var(--text-fontWeightModifier);
}

/* transform */
.text-uppercase{
    text-transform: uppercase;
}