@import url('./components/elementsGeneralParams.css');
/* state */
.hide {
    display: none!important;
}

.hideFlex{
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.showFlex{
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

/* outter containers */
.mRecentVideoPerform{
    background: var(--components--mainbox-backgroundColor);
    max-width: var(--components--mainBox-maxWidth);
    border-radius: var(--components--mainBox-borderRadius);
    border-color: var(--components--mainBox-borderColor);
}

.mRecentVideoPerform--container{
    padding: var(--components--innerContainer-padding);
}

.mRecentVideoPerform--container--title{
    margin: var(--components--innerContainer--title-margin);
    padding-bottom: var(--components--innerContainer--title-paddingBottom);
}

/* videoImage container */
.mRecentVideoPerform--container--videoImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.mRecentVideoPerform--container--videoImage--img{
    width: 100%;
}

.mRecentVideoPerform--container--videoImage--videoNamecontainer{
    position: absolute;
    padding: 0 20px;
    bottom: 12px;
}

.mRecentVideoPerform--container--videoImage--videoNamecontainer--videoName{
    height: 44px;
    line-height: 24px;
    margin: 0;
    padding-right: 24px;
    overflow: hidden;
}

/* metrics container */
.mRecentVideoPerform--container--metrics{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 0.5px solid #3a3a3a;
}

.mRecentVideoPerform--container--metrics--wrapper{
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.mRecentVideoPerform--container--metrics--arrow{
    width: 24px;
}

.mRecentVideoPerform--container--metrics--wrapper--metric{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.mRecentVideoPerform--container--metrics--wrapper--metric--iconContainer{
    width: 18px;
}

.mRecentVideoPerform--container--metrics--wrapper--metric--data{
    margin-left: 8px;
}

.mRecentVideoPerform--container--metrics--arrow-collapseArrow{
    cursor: pointer;
}

.mRecentVideoPerform--container--metrics--arrow-collapseArrow:hover path{
    fill: #fff;
}

.mRecentVideoPerform--container--metrics--arrow-expandArrow{
    cursor: pointer;
}

.mRecentVideoPerform--container--metrics--arrow-expandArrow:hover path{
    fill: #fff;
}

/* dataWrapper container */
.mRecentVideoPerform--container--dataWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.mRecentVideoPerform--container--dataWrapper--currentDaysCount{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 24px;
}

.mRecentVideoPerform--container--dataWrapper--dataList {
    margin: 0;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data:last-child{
    margin-bottom: 10px;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data--title{
    padding-top: 2px;
}

.mRecentVideoPerform--container--dataWrapper--dataList:last-child{
    padding-bottom: 20px;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data--value{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
}
.mRecentVideoPerform--container--dataWrapper--dataList--data--value.first{
    cursor: pointer!important;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data--value--amount{
    margin-right: 8px;
    padding-top: 2px;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data--value--icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
}

.mRecentVideoPerform--container--dataWrapper--dataList--data--value.first:hover path{
    fill: #fff;
}

/* menu container */
.mRecentVideoPerform--container--menu--link--text.first{
    margin-bottom: 26px;
}