@import url('./components/elementsGeneralParams.css');

/* state controls */
.hide{
    display: none!important;
}

/* container styles */
.publishedVideos{
    background: var(--components--mainbox-backgroundColor);
    max-width: var(--components--mainBox-maxWidth);
    border-radius: var(--components--mainBox-borderRadius);
    border-color: var(--components--mainBox-borderColor);
}

.publishedVideos--innerContainer{
    padding: var(--components--innerContainer-padding);
}

.publishedVideos--innerContainer--title{
    margin-bottom: 27px;
}

.publishedVideos--innerContainer--videosList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.publishedVideos--innerContainer--videosList--video{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-height: 48px;
    margin-bottom: 25px;
    cursor: default;
}

.publishedVideos--innerContainer--VideosList--infosContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8px;
    height: 32px;
}

.publishedVideos--innerContainer--videosList--optionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 3px;
    margin-left: 2px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
}

.publishedVideos--innerContainer--videosList--optionsContainer > a{
    position: relative;
    cursor: default;
    width: 19px;
    margin-right: 23px;
}

.publishedVideos--innerContainer--VideosList--infosContainer--metrics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 13px;
}

/* innerElement styles */
.publishedVideos--innerContainer--videosList--image {
    max-width: 56px;
    height: 32px;
    cursor: pointer;
}

.publishedVideos--innerContainer--VideosList--infosContainer--videoTitle{
    word-spacing: -0.83px;
    white-space: nowrap;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 283px;
    cursor: default;
}

.publishedVideos--innerContainer--VideosList--infosContainer--metrics--icon{
    width: 18px;
    height: 16px;
    fill: #aaa;
    margin-right: 4px;
}

.publishedVideos--innerContainer--VideosList--infosContainer--metrics--data{
    margin-right: 40px;
    cursor: default;
}

.publishedVideos--innerContainer--videosList--optionsContainer--icon{
    width: 21px;
    height: 21px;
    fill: #aaa;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.publishedVideos--innerContainer--videosList--optionsContainer--icon:hover{
    fill: #fff;
}

.publishedVideos--innerContainer--videosList--video--infos{
    position: relative;
    margin-left: 10px;
}

.publishedVideos--innerContainer--videosList--video:hover .publishedVideos--innerContainer--VideosList--infosContainer{
    visibility: hidden;
    opacity: 0;
}

.publishedVideos--innerContainer--videosList--video:hover .publishedVideos--innerContainer--videosList--optionsContainer{
    visibility: visible;
    opacity: 1;
}

.publishedVideos--innerContainer--videosList--optionsContainer > a::after{
    position: absolute;
    top: 32px;
    padding: 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #5c5c5c;
    line-height: 7px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.49, -0.55, 1, 0.37);
}

.publishedVideos--innerContainer--videosList--optionsContainer > a:nth-of-type(1)::after{
    left: -16px;
    content: 'Detalhes';
}

.publishedVideos--innerContainer--videosList--optionsContainer > a:nth-of-type(2)::after{
    left: -18px;
    content: 'Analytics';
}
.publishedVideos--innerContainer--videosList--optionsContainer > a:nth-of-type(3)::after{
    left: -26px;
    content: 'Comentários';
}
.publishedVideos--innerContainer--videosList--optionsContainer > a:nth-of-type(4)::after{
    left: -35px;
    width: 75px;
    content: 'Ver no YouTube';
}

.publishedVideos--innerContainer--videosList--optionsContainer > a:hover::after{
    opacity: 1;
}